.roadmap-section {
  background: #fff;
  position: relative;
  text-align: center;
}
.roadmap-section h1 {
  color: #000;
  padding-top: 5vw;
  font-size: 3vw;
  padding-bottom: 3vh;
}
.roadmap-section p {
  width: 73%;
  margin: 0 auto;
  color: #000;
  font-size: 1.3vw;
}

.roadmap-steps {
  padding: 0 10%;
  text-align: center;
  margin: 0 auto;
  margin-top: 8vh;
}


@media (max-width: 968px) {
  .roadmap-section p
  {
    font-size: 8px;
    padding-bottom: 20px;
  }
}