@import "react-alice-carousel/lib/alice-carousel.css";
.container{
  background: linear-gradient(to bottom, #A7B8C6 0%, #A7B8C6 30%, white 0%,white 100%)
}
.video {
  width: 80vw;
  margin: 0 auto;
  height: 48vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.video img{
  opacity: 10%;
  position: absolute;
  width: 40vw;
}

.story-section {
  background: #fff;
  width: 80vw;
  margin: 0 auto;
  border: 5rem solid #F15A23;
  text-align: center;
  padding-bottom: 5vh;
  position: relative;
}
.block {
  height:20px;
  width: 80px;
  background-color: #000;
  position: absolute;
  top: 5%;
  right: -5rem;
}
.left-block1{
  position: absolute;
  bottom: -1rem;
  left: -4.5rem;
}
.story-section h1 {
  color: #000;
  padding-top: 5vw;
  font-size: 4.5vw;
  padding-bottom: 3vw;
}

.pc-story {
  width: 92%;
  margin: 0 auto;
  color: #000;
  font-size: 1.3vw;
  white-space: pre-wrap;
}

.slider {
  margin:0 auto;
  text-align: center;
  background: #F15A23;
}

.slider-outline {
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.slider-inline {
  width: 96%;
  border: 1px solid black;
  position: absolute;
  left: 2%;
  top: -100px;
  height: 700px;
}
.inline-block {
  background-color: #000;
  height:20px;
  width: 50px;
}
.story-left{
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}
.story-right{
  position: absolute;
  top: 1.5rem;
  right: -1.7rem;
}

.slider-button {
  margin:0 auto;
  width: 12%;
  display: flex;
  justify-content: space-around;
}
.slider-button img{
  z-index: 999;
}

.slider-picture {
  width: 363.5px;
}

.express-detail {

  width: 80vw;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  justify-content: left;
}
.express-detail p {
  font-size: 1.3vw;
  padding: 3vw;
  padding-top: 0;
  width: 90%;
  margin: 0 auto;
}
.newimg{
  margin-bottom: 3vw;
  width: 30%;
  margin-top: 3vw;
  margin-left: 10%;
}
.intro1 {
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-bottom: 150px;
  padding-top: 100px;
  text-align: left;
  background: #F15A23;
}
.intro1 h1 {
  font-size: 3.75vw;
  text-align: left;
  padding-left: 5%;
  line-height: 3vw;
  font-weight: normal;
}
.mobile-story{
  display: none;
  white-space: pre-wrap;
}
.mobile-extension{
  display: none;
}
.pc-fire {
  width: 100%;
  display: block;
}
.mobile-fire{
  width: 100%;
  display: none;
}
@media (max-width: 968px) {
  .mobile-fire{
    display: block;
  }
  .pc-fire{
    display: none;
  }
  .slider{
    background: linear-gradient(to bottom, #F15A23 0%, #F15A23 75%, white 0%,white 100%)
  }
  .video {
    width: 90vw;
  }
  .container{
    background: linear-gradient(to bottom, #A7B8C6 0%, #A7B8C6 20%, white 0%,white 100%)
  }
  .story-section{
    height: auto;
    text-align: left;
    width: 90%;
  }
  .story-section h1{
    padding-left: 8%;
    font-size: 3rem;
  }
  .mobile-story {
    padding-top: 10%;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 100px;
    margin: 0 auto;
  }
  .pc-story{
    display: none;
  }
  .express-detail p {
    font-size: 8px;
  }
  .intro1 h1 {
    font-size: 3rem;
    padding-left: 10%;
    width: 40rem;
    line-height: 3rem;
  }
  .story-section {
    border: 1rem solid #F15A23;
  }
  .block {
    height:10px;
    width: 30px;
    top: 2rem;
    right: -1rem;
  }
  .left-block1{
    bottom: 70px;
    left: -0.5rem;
    width: 5rem;
  }
  .express-detail{
    width: 90%;
    margin-top: 200px;
  }
  .express-detail p{
    text-align: left;
    padding: 0;
    font-size: 1.5rem;
    margin-bottom: 6rem;
  }
  .newimg{
    margin-bottom: 3rem;
    width: 50%;
    margin-top: 3rem;
    margin-left: 5%;
  }
  .intro1 {
    margin-top: 100px;
  }
  .mobile-extension{
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 8%;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .container{
    background: linear-gradient(to bottom, #A7B8C6 0%, #A7B8C6 18%, white 0%,white 100%)
  }
  .slider-picture {
    width: 320px;
  }
  .express-detail{
    width: 90%;
    margin-top: 100px;
  }
  .slider-inline {
    top: -50px;
    height: 600px;
    width: 90%;
    left: 5%;
  }
  .intro1 h1 {
    font-size: 8vw;
    width: 90vw;
    line-height: 8vw;
  }
  .mobile-story{
    font-size:16px;
    padding-bottom: 50px;
  }
  .mobile-extension{
    font-size: 16px;
  }
  .story-right{
    top: 90%;
    width: 15%;
    right: -1rem;
  }
  .story-left{
    width: 15%;
    top: 90%;
  }
  .slider-button{
    padding-top: 20%;
  }
}