@import "react-alice-carousel/lib/alice-carousel.css";
.container{
  background: linear-gradient(to bottom, #A7B8C6 0%, #A7B8C6 30%, white 0%,white 100%)
}
.video {
  width: 80vw;
  margin: 0 auto;
  height: 48vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.video img{
  opacity: 10%;
  position: absolute;
  width: 40vw;
}

.story-section {
  background: #fff;
  width: 80vw;
  margin: 0 auto;
  border: 5rem solid #F15A23;
  text-align: center;
  padding-bottom: 5vh;
  position: relative;
}
.block {
  width: 6rem;
  height: 3rem;
  background-color: #000;
  position: absolute;
  top: 5%;
  right: -5rem;
}
.left-block1{
  position: absolute;
  bottom: -1rem;
  left: -4.5rem;
}
.story-section h1 {
  color: #000;
  padding-top: 5vw;
  font-size: 4.5vw;
  padding-bottom: 3vw;
}

.story-section p {
  width: 92%;
  margin: 0 auto;
  color: #000;
  font-size: 1.3vw;
}

.slider {
  margin:0 auto;
  padding-bottom: 180px;
  text-align: center;
  background: #F15A23;
}

.slider-outline {
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.slider-inline {
  width: 96%;
  border: 1px solid black;
  position: absolute;
  left: 2%;
  top: -100px;
  height: 700px;
}
.inline-block {
  background-color: #000;
  height:20px;
  width: 50px;
}
.left-block{
  position: absolute;
  top: 90%;
  left: 3%;
}
.right-block{
  position: absolute;
  top: 90%;
  right: 0;
}

.slider-button {
  margin:0 auto;
  width: 12%;
  display: flex;
  justify-content: space-around;
}

.slider-picture {
  width: 363.5px;
}

.express-detail {
  border: 2px solid #000;
  width: 80vw;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  justify-content: left;
}
.express-detail p {
  font-size: 1vw;
  padding: 3vw;
  padding-top: 0;
  width: 90%;
  margin: 0 auto;
}
.newimg{
  margin-bottom: 3vw;
  width: 20%;
  margin-top: 3vw;
  margin-left: 10%;
}
.intro1 {
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-bottom: 150px;
  padding-top: 100px;
  text-align: left;
  background: #F15A23;
}
.intro1 h1 {
  font-size: 2vw;
  font-family: chakrapetch bold;
  text-align: left;
  padding-left: 5%;
  line-height: 1.8vw;
  width: 20vw;
  font-weight: normal;
}
@media (max-width: 968px) {
  .story-section{
    height: auto;
  }
  .story-section p {
    font-size: 8px;
    padding-bottom: 20px;
  }
  .intro1 h1 {
    font-size: 3vw;
    font-family: chakrapetch bold;
    text-align: left;
    padding-left: 10%;
    line-height: 4vw;
    width: 40vw;
    font-weight: normal;
  }
  .block {
    height: 2rem;
  }
}

@media (max-width: 500px) {
  .slider-picture {
    width: 250px;
  }

  .slider-inline {
    top: -50px;
    height: 500px;
  }
  .block {
    height: 1rem;
    width: 5.5rem;
  }
  .intro1 h1 {
    font-size: 4vw;
    font-family: chakrapetch bold;
    text-align: left;
    padding-left: 10%;
    line-height: 5vw;
    width: 50vw;
    font-weight: normal;
  }
}