.container {
  padding: 0;
}

/* hero section   */

.hero-section {
  height: auto;
  display: block;
  justify-content: center;
  text-align: center;
  margin-top:60px;
  background-color: #A7B8C6;
  padding-bottom: 80px;
}

.hero-title {
  margin: 0 auto;
}

.hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

.express-img {
  margin-top: 40px;
  width: 25%;
}

.hero-man {
  display: flex;
  justify-content: center;
}
.coming-button {
  position: relative;
  margin: 40px auto;
}
.new-button {
  height: 5rem;
  line-height: 3rem;
  font-size: 2rem;
  overflow: hidden;
  font-weight: bold;
  white-space: nowrap;
  padding:0 3rem;
  display: inline-block;
  text-align: center;
  color: #000;
}
.new-button:hover{
  cursor: pointer;
}

.intro { 
  font-size: 3rem;
  width: 35vw;
  margin: 1vh auto;
}

.social-link{
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  justify-content: space-between;
  width: 35rem;
}

.social-link button {
  height: 5rem;
  line-height: 3rem;
  font-size: 2rem;
  overflow: hidden;
  font-weight: bold;
  width: 15rem;
  border: none;
  background: #F15A23;
}

.social-link button:hover {
  background: #FB613A;
  color: white;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .hero-title {
    width: 60vw;
  } 
  .express-img {
    width: 40vw;
    margin-top:10px;
  }
  .coming-button {
    margin-bottom: 15px;
  }
  .intro { 
    font-size: 2rem;
    width: 55vw;
  }
  .social-link{
    width: 50vw;
  }
  .social-link button{
    width: 20vw;
  }
  .hero-section {
    height:auto;
  }
}

@media (max-width: 968px) {
  .express-img {
    width: 70vw;
    margin-top:10px;
  }
  .new-button {
    padding: 0 2rem;
    font-size: 1.5rem;
    width: 56%;
  }
  .social-link{
    width: 56vw;
    margin-top: 10px;
  }
  .social-link button{
    width: 25vw;
    font-size: 1.5rem;
  }
  .intro {
    width: 80%;
    font-size: 1.8rem;
  }
}